
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial ,sans-serif;
    background-image: url(https://img.magnific.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?semt=ais_test_b&w=740&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}





.lms{
    padding: 80px 20px;
    background:transparent;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.lms h1{
    margin-top: 90px;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    color:   rgb(49, 48, 133);
}
.subtitle{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.7;
    font-size: 20px;
    color: #ffffff;
    
}



.cards{
    display:flex ;
    flex-wrap: wrap;
    gap:25px;
    justify-content: center;
    margin-top: 100px;
}

.card{
    width: 320px;
   
    background: #f5f4f4;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.card:hover{
    transform: translate(-8px);
}

.card h3{
    color: blue;
    margin-bottom: 15px;

}

.benefits{
    margin-top: 80px;
}

.benefits h2{
    color: rgb(49, 48, 133);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.benefits ul{
    color: #1d1e1f;
    max-width: 600px;
    margin: auto;
    line-height: 3;
    font-size: 18px;
}






.stats{
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
    flex-wrap: wrap;
    margin: 60px auto;
    padding: 20px;
}

.stats div{
    width: 220px;
    background:  #f9fafa;
    padding: 25px 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.stats h2{
    color: black;
    margin-bottom: 8px;
    font-size: 38px;
}

.stats p{
    color: black;
    font-size: 15px;
}






.features {
    margin-top: 70px;
}

.features h2{
    text-align: center;
    color: rgb(49, 48, 133);
    margin-bottom: 35px;
}


.feature-box{
    width: 70%;
  margin-left: 13%;
    background:white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.feature-box:hover{
    transform: translate(-10px);

}

.feature-box h3 span{
    color: red;
}

.feature-box p{
    margin-top: 15px;
}







@media (max-width:768px){


    .stats{
        gap: 25px;
        padding: 10px;
    }

    .stats div{
        width: 45%;
    }

    .statsh2{
        font-size: 30px;
    }

    .stats p{
        font-size: 14px;
    }


    .lms h1{
        font-size: 30px;
    }

    .card{
        width: 100%;
    }

    .subtitle{
        font-size: 16px;
    }
}



@media(max-width:480px){
    .stats{
        flex-direction: column;
        align-items: center;
    }

    .stats div{
        width: 90%;
    }



    .lms{
        padding: 20px;
        text-align: center;
    }

    .lms  h1{
        font-size: 28px;
    }

    .lms p{
        font-size: 16px;
    }


    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .features div{
        width: 90%;
    }




    .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }

    .benefits div{
        width: 90%;

    }
}